*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-container{
  width: 90vw;
  margin: auto;
  /* border: 1px solid red; */
  text-align: center;
  font-size: 1.5rem;
}

input{
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
}

button{
  cursor: pointer;
  font-size: 1.5rem;
  width: 150px;
}

.list-container{
  width: 90vw;
  margin: auto;
  margin-top: 1rem;
  border-bottom: 1px solid black;
}

tr{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  /* border: 1px solid red; */
}

